VITE_SUPABASE_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFubWRhYXhmbGZ4Y3JsdGdpb3ZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQzNTkzNjMsImV4cCI6MjA3OTkzNTM2M30.LF9rS6whUSu4v5FYzaIY1iHxNZlhzOXfKBPM35eGpIE
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFubWRhYXhmbGZ4Y3JsdGdpb3ZzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDM1OTM2MywiZXhwIjoyMDc5OTM1MzYzfQ.UKCImuiS5PuYYArjQdVA8GS-il_ciMv3tFGmbIgHDq0
